*.pyc
.idea/
graphs_mains/mails_main.py
data/output/
data/result_social_sign/
data/times/
data/roi/
data/directed/social_sign/roi/
data/result_social_sign/roi/
data/directed/social_sign/slashdot/features/output/motifs4.txt
data/directed/social_sign/slashdot/features/output/motifs4_directed_edges.txt
data/directed/social_sign/epinions/features/output/motifs4.txt
data/directed/social_sign/epinions/features/output/motifs4_directed_edges.txt
data/directed/social_sign/wiki/features/output/motifs4.txt
data/directed/social_sign/wiki/features/output/motifs4_directed_edges.txt
data/directed/social_sign/wiki/features/output/mds_edges.txt
data/directed/social_sign/wiki/features/output/mds_nodes.txt
learning/roi-main.py
learning/roi-main-future-learn.py
data/directed/mails/


