*.pyc
.idea/
graph-fetures/.idea/
graph-fetures/output/
graph-fetures/times/
data/output/
data/times/
data/roi/
learning/roi-main.py
learning/roi-main-future-learn.py
data/directed/mails/input/rafael-graph.txt
data/directed/mails/tags/rafael-tags.txt